doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Minecraft Widgets Gen

    link(rel='stylesheet', href='style/materialize.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(rel='stylesheet', href='./style/style.css')
  body.p-3
    // select resourcepack button
    div.row
      img#packPng.responsive-img.col.s2(src='./img/pack.png')
      button#selectResourcePack.col.s10.btn-large Select Resource Pack
      p#errorMessage.error.message
      p#warningMessage.warning.message
    // widgets base path
    .row
      p.col.s4.col.l3 widgets base path
      input#widgetsBasePathInput.col.s7(type='text')
      button#widgetsBaseDialog.btn.col.s1
        i.material-icons folder
    .row
      p#baseWarning.warning.message
      p#baseError.error.message
    //widgets chars path
    .row
      p.col.s4.col.l3 widgets chars path
      input#widgetsCharsPathInput.col.s7(type='text')
      button#widgetsCharsDialog.btn.col.s1
        i.material-icons folder
    .row
      p#charsWarning.warning.message
      p#charsError.error.message
    //widgets charsJson path
    .row
      p.col.s4.col.l3 widgets charsJson path
      input#widgetsCharsJsonPathInput.col.s7(type='text')
      button#widgetsCharsJsonDialog.btn.col.s1
        i.material-icons folder
    .row
      p#charsJsonWarning.warning.message
      p#charsJsonError.error.message
    //output path
    .row
      p.col.s4.col.l3 output Path
      input#outputPathInput.col.s7(type='text')
      button#outputDialog.btn.col.s1
        i.material-icons folder
    div
      p#outputWarning.warning.message
      p#outputError.error.message
      //上書きオプション
      label.form-check-label
        input#overwriteWidgets.filled-in(type="checkbox", name="overwriteWidgets")
        span widgets.pngを上書きする

    //game option
    .row.border.p-2
      p.col.s4.col.l3 options.txt
      input#gameOptionInput.col.s6(type='text')
      button#gameOptionDialogDirectory.btn.col.s1
        i.material-icons folder
      button#gameOptionDialogFile.btn.col.s1
        i.material-icons file
      table.mt-2.table
        tr
          td#minecraftVersionLabel.col.s4.p-2 minecraft version
          td#minecraftVersion.col.s8.p-2 none
        tr
          td#minecraftKeyConfigLabel.col.s4.p-2 key config
          td#minecraftKeyConfig.col.s8.p-2 none
      p#gameOptionWarning.warning.message
      p#gameOptionError.error.message
      //convert button
    .row
      button#convertWidgets.btn.btn-outline-light.w-100.mt-2 変換
      p#convertMessage.info.message
      p#convertWarning.warning.message
      p#convertError.error.message
    //script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js', integrity='sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU', crossorigin='anonymous')
    //script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js', integrity='sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj', crossorigin='anonymous')
    //link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1', crossorigin='anonymous')
    script(src="js/materialize.js")
    script(src="./js/requires.js")
    script(src="./js/clickEvents.js")
    script(src="./js/selectResourcePack.js")
    script(src="./js/setVersion.js")
    script(src="./js/dialogListener.js")
