doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Minecraft texted hotbar gen

    link(rel='stylesheet', href='style/materialize.css')
    link(rel='stylesheet', href='./style/style.css')
  body.p-3
    // select resourcepack button
    div.row.select-btn
      span.col.s2
        img#packPng(src='./img/pack.png')
      a#selectResourcePack.waves-effect.waves-teal.col.s10.btn Select Resource Pack
      p#errorMessage.error.message
      p#warningMessage.warning.message
    // widgets base path
    .row
      p.col.s4.col.l3 widgets base path
      input#widgetsBasePathInput.col.s7(type='text')
      a#widgetsBaseDialog.waves-effect.waves-teal.btn-flat.col.s1
        img(src="img/file.svg",width="15px",height="15px")
    .row
      p#baseWarning.warning.message
      p#baseError.error.message
    //widgets chars path
    .row
      p.col.s4.col.l3 widgets chars path
      input#widgetsCharsPathInput.col.s7(type='text')
      a#widgetsCharsDialog.waves-effect.waves-teal.btn-flat.col.s1
        img(src="img/file.svg",width="15px",height="15px")
    .row
      p#charsWarning.warning.message
      p#charsError.error.message
    //widgets charsJson path
    .row
      p.col.s4.col.l3 widgets charsJson path
      input#widgetsCharsJsonPathInput.col.s7(type='text')
      a#widgetsCharsJsonDialog.waves-effect.waves-teal.btn-flat.col.s1
        img(src="img/file.svg",width="15px",height="15px")
    .row
      p#charsJsonWarning.warning.message
      p#charsJsonError.error.message
    //output path
    .row
      p.col.s4.col.l3 output Path
      input#outputPathInput.col.s7(type='text')
      a#outputDialog.waves-effect.waves-teal.btn-flat.col.s1
        img(src="img/folder.svg",width="15px",height="15px")
    div
      p#outputWarning.warning.message
      p#outputError.error.message
      //上書きオプション
      label.form-check-label
        input#overwriteWidgets.filled-in(type="checkbox", name="overwriteWidgets" disabled)
        span widgets.pngを上書きする

    //game option
    .row.border.p-2
      p.col.s4.col.l3 options.txt
      input#gameOptionInput.col.s6(type='text')
      a#gameOptionDialogDirectory.waves-effect.waves-teal.btn-flat.col.s1
        img(src="img/folder.svg",width="15px",height="15px")
      a#gameOptionDialogFile.waves-effect.waves-teal.btn-flat.col.s1
        img(src="img/file.svg",width="15px",height="15px")
      table.mt-2.table
        tr
          td#minecraftVersionLabel.col.s4.p-2 minecraft version
          td#minecraftVersion.col.s8.p-2 none
        tr
          td#minecraftKeyConfigLabel.col.s4.p-2 key config
          td#minecraftKeyConfig.col.s8.p-2 none
      p#gameOptionWarning.warning.message
      p#gameOptionError.error.message
      //convert button
    .row
      a#convertWidgets.waves-effect.waves-teal.btn.col.s12 変換
      p#convertMessage.info.message.col.s12
      p#convertWarning.warning.message.col.s12
      p#convertError.error.message.col.s12
    script(src="js/materialize.js")
    script(src="./js/index.js")
