doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    script(src='https://kit.fontawesome.com/a198b76e1e.js', crossorigin='anonymous')
  body
    // select resourcepack button
    div.m-3
      button#selectResourcePack.btn.btn-outline-light.w-100.mb-3
        img#packPng.mx-3.border.border-light(src='../img/pack.png')
        | Select Resource Pack
      p#errorMessage.error.m-1
      p#warningMessage.warning.m-1
    // widgets base path
    .row.m-3
      p.col-4.col-lg-3.mb-0.pt-2 widgets base path
      input#widgetsBasePathInput.col-7.col-lg-8(type='text')
      i#widgetsBaseDialog.far.fa-folder-open.col-1.btn.btn-outline-light.rounded-2
    .row.m-3
      p#baseWarning.warning.m-1
      p#baseError.error.m-1
    //widgets chars path
    .row.m-3
      p.col-4.col-lg-3.mb-0.pt-2 widgets chars path
      input#widgetsCharsPathInput.col-7.col-lg-8(type='text')
      i#widgetsCharsDialog.far.fa-folder-open.col-1.btn.btn-outline-light.rounded-2
    .row.m-3
      p#charsWarning.warning.m-1
      p#charsError.error.m-1
    //widgets charsJson path
    .row.m-3
      p.col-4.col-lg-3.mb-0.pt-2 widgets charsJson path
      input#widgetsCharsJsonPathInput.col-7.col-lg-8(type='text')
      i#widgetsCharsJsonDialog.far.fa-folder-open.col-1.btn.btn-outline-light.rounded-2
    .row.m-3
      p#charsJsonWarning.warning.m-1
      p#charsJsonError.error.m-1
    //output path
    .row.m-3
      p.col-4.col-lg-3.mb-0.pt-2 output Path
      input#outputPathInput.col-7.col-lg-8(type='text')
      i#outputDialog.far.fa-folder-open.col-1.btn.btn-outline-light.rounded-2
    .m-3
      p#outputWarning.warning.m-1
      p#outputError.error.m-1
      //上書きオプション
      input#overwriteWidgets.form-check-input(type="checkbox", name="overwriteWidgets",disabled="disabled")
      label.form-check-label widgets.pngを上書きする

    //game option
    .row.m-3.border.p-2
      p.col-4.col-lg-3.mb-0.pt-2 options.txt
      input#gameOptionInput.col-6.col-lg-8(type='text')
      i#gameOptionDialogDirectory.far.fa-folder-open.col-1.btn.btn-outline-light.rounded-2
      i#gameOptionDialogFile.far.fa-file-alt.col-1.btn.btn-outline-light.rounded-2
      table.mt-3.table
        tr
          td#minecraftVersionLabel.col-4.p-2 minecraft version
          td#minecraftVersion.col-8.p-2 none
        tr
          td#minecraftKeyConfigLabel.col-4.p-2 key config
          td#minecraftKeyConfig.col-8.p-2 none
      p#gameOptionWarning.warning.m-1
      p#gameOptionError.error.m-1
      //convert button
    .row.m-3
      button#convertWidgets.btn.btn-outline-light.w-100.mt-2 変換
      p#convertWarning.warning.m-1
      p#convertError.error.m-1
    script(src='https://code.jquery.com/jquery-3.6.0.js', integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js', integrity='sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js', integrity='sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj', crossorigin='anonymous')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1', crossorigin='anonymous')
    link(rel='stylesheet', href='./style/style.css')
    script(src="./js/errorWarning.js")
    script(src="./js/lf.js")
    script(src='./js/selectResourcePack.js')
    script(src='./js/openDialog.js')
    script(src="./js/convertProcess.js")
